<div class="center hero-unit">
  <h1>Добро пожаловать в Сhat v1.0</h1>

  <h2> Чат будет доступен после регистрации/входа!</h2>

  <%= link_to "Войти в аккаунт", new_user_session_path, class: "btn btn-large btn-primary" %>
</div>
