<h1>Список всех пользователей</h1>
<h2>Нажмите на имя пользователя, чтобы начать с ним переписку</h2>


  <% @users.each do |user| %>
    <%= user.name %>
    <%= link_to "Создать чат с #{user.name}", new_chat_room_path %>

  <% end %>




