<h1>Список всех пользователей</h1>

<div class="container-center">
  <% @users.each do |user| %>
    <div class="row user-ws">
      <div class="user-block">
          <%= gravatar_for user %>
          <%= user.name %>
         <%= link_to "Создать чат с #{user.name}", new_chat_room_path, class:'btn btn-primary btn-md right' %>
      </div>
    </div>
  <% end %>
</div>
