<% if current_user.admin? %>
  <h1>Все чаты (только для модератора)</h1>
  <ul class="list-unstyled">
    <%= render @chat_rooms %>
  </ul>
<% end %>

<ul class="list-unstyled">
<% if current_user.chat_rooms.any? %>
  <h2>Чаты которые вы создали:</h2>
  <% current_user.chat_rooms.each do |chat_room| %>
    <li><%= link_to "Войти в чат > #{chat_room.title}", chat_room_path(chat_room) %></li>
  <% end %>
  <% else %>
    <h2>У вас нету созданных чатов =) </h2>
  <% end %>
</ul>

<ul class="list-unstyled">
<% if @chat_rooms_for_user.any? %>
<h2>Чаты где вам написали:</h2>
 <% @chat_rooms_for_user.each do |chat_room| %>
<li><%= link_to "Войти в чат > #{chat_room.title}", chat_room_path(chat_room) %></li>
  <% end %>
  <% else %>
    <h2>Вам никто не писал =) </h2>
  <% end %>
</ul>
